<html>
<body>
  <h1>PortfoliGo</h1>
  <p>Hi, I'm Bening, a software engineer.</p>
  <p>Why is this called "PortfoliGo"?</p>  
  <blockquote>
    A combination of "Portfolio" and "Go," highlighting that this project is a portfolio built with Golang.
  </blockquote>
  <p><i>Thanks ChatGPT for the idea</i> ✌🏻</p>
  <br>
  <p>Anyway, this is the portfolio list you're looking for:</p>
  <ul>
    {{range .}}
      <li><a href="{{.URL}}">{{.Name}}</a> - {{.ShortDesc}}</li>
    {{end}}
  </ul>
</body>
</html>
